.para{
	background-color: #ddd;
	color:green;
}
/*#para{
	background-color: yellow;
	color:green;
}*/
#paragraph{
	background-color: #ddd;
	color:green;
}
.first,.second,.third,.fourth{
	border:2px solid #000;
	margin :2px;
	width:400px;
	text-align: center;
}
/*.first img,.second img,.third img,.fourth img{
	width:100px;
}*/
img{
	width:200px;
	padding:10px;

}
.parent{
	display: flex;
	flex-direction: row-reverse;
}
@media screen and (max-width: 425px){
	.parent{
		flex-direction: column;
	}
	.first{
		background-color: #c45e45; 
	}
}
@media screen and (min-width: 425px) and (min-width: 768px){
	.parent{
		flex-direction: row-reverse;
	}
	.first,.second,.third,.fourth{
		background-color: #c45e45;
		border-radius: 30px;
		flex-wrap: wrap;
	}

}